@font-face {
    font-family: moon;
    src: url('Moon_Light.otf');
}

@font-face {
    font-family: sanFran;
    src: url('SanFranciscoDisplay-Ultralight.otf');
}

@keyframes neonBlue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.landingpageMobile {
  height: 100%;
  width: 100%;
}

.splashContainerMobile {
  height: calc(100% - 20px);
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.landingpageMobile .navigationBarContainerMobile {
  height: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
  background: transparent;
}

.navigationBarContainerMobile .navButton {
  position: absolute;
  padding: 5px 0 0 5px;
}

.navBarElement {
  font-family: sanFran;
  color: grey;
  font-size: 18px;
  padding: 10px 0 10px 0;
}

.navBarElement a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px 0 10px;
}

.navBarElement a:visited {
  text-decoration: none;
  color: inherit;
}

.splashContainerMobile .nameDisplayMobile {
  font-size: 40px;
  font-family: moon;
  color: white;
  margin: 15px 0 0 0;
  -webkit-animation: neonBlue 2s ease-in-out infinite alternate;
  -moz-animation: neonBlue 2s ease-in-out infinite alternate;
  animation: neonBlue 2s ease-in-out infinite alternate;
}

.splashContainerMobile .displayAttributesMobile {
  font-size: 12px;
  font-family: sanFran;
  color: #E6E6E6;
  text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #228DFF, 0 0 17.5px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF, 0 0 37.5px #228DFF;
  margin: 0 0 0 0;
}

.splashContainerMobile .mobileProjectContainer {
  width: 100%;
  height: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;

}

.mobileProjectContainer .mobileItemProjectContainer {
  width: 100%;
  min-height: calc(100%/4);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-around;
}

.mobileItemProjectContainer .projectViewContainer {

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-around;
}

.projectViewContainer .projectTitle {
  font-family: moon;
  font-size: 25px;
  color: #E6E6E6;
}

.projectTitle .gitHubTitleLink {
  font-size: 25px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(54, 218, 226)
}

.projectTitle .moreInfoTitleLink {
  font-size: 25px;
  padding-left: 10px;
  text-decoration: none;
  color: rgb(54, 218, 226)
}

.projectTitle .gitHubTitleLink:visited {
  text-decoration: none;
  color: rgb(54, 218, 226)
}

.mobileItemProjectContainer .projectDescription {
  font-family: sanFran;
  font-size: 15px;
  color: #E6E6E6;
}

.mobileItemProjectContainer .mobileDescriptionContainer {
  height: 100%;
  width:100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  overflow-x: hidden;
}

.mobileDescriptionContainer::-webkit-scrollbar {
    width: 0.5em;
}

.mobileDescriptionContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.mobileDescriptionContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1em;
}

.mobileDescriptionContainer .imageHolderContainer {
  min-height: 400px;

  padding-bottom: 20px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.mobileDescriptionContainer .fullDescriptionContainer {

  margin-bottom: 20px;

  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #228DFF, 0 0 17.5px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF, 0 0 37.5px #228DFF;
  background-color: rgba(255, 255, 255, 0.96);
}

.fullDescriptionContainer .fullDescriptionText {
  font-family: sanFran;
  color: black;
  font-size: 15px;
  margin: 15px;
}

.fullDescriptionContainer .tagsContainer {
  margin-bottom: 15px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

}

.tagsContainer .singleTagContainer {
  border-radius: 0.7em;
  border: 1px solid white;
  background-color: rgb(160, 233, 238);
}

.singleTagContainer .tagText {
  font-family: sanFran;
  font-size: 10px;
  margin: 10px;
}

.mobileItemProjectContainer .projectImage {
  padding-bottom: 25px;

  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s;
}

.splashContainerMobile .mobileAboutMeContainer {
  width: calc(100% - 100px);
  height: calc(100% - 100px);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;

  border-radius: .5em;
  border: 1px solid white;

  -webkit-box-shadow: 0px 0px 5px 6px grey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 6px grey;  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #228DFF, 0 0 17.5px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF, 0 0 37.5px #228DFF;


  background-color: rgba(255, 255, 255, 0.96);
}
.splashContainerMobile .mobileAboutMeDisplayScreen {
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.splashContainerMobile .mobileAboutMeFolderNavBar {
  width: 100%;
  height: 35px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-around;

  align-items: center;

}

.mobileAboutMeFolderNavBar .mobileAboutMeFolderitemContainer {
  width: 33.33%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.mobileAboutMeFolderitemContainer .mobileFolderitem {
  color: black;
  font-family: sanFran;
  font-size: 15px;
  margin: 0;
}

.mobileFolderitem a {
  text-decoration: none;
  color: inherit;
}

.mobileFolderitem a:visited {
  text-decoration: none;
  color: inherit;
}

.mobileAboutMeLifePath {
  width: 100%;
  height: fit-content;
}

.mobileAboutMeLifePath .mobileTimeLineContainer {
  margin: 0 0 60px 0;
  height: 75px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.mobileAboutMeLifePath .mobileTimeLineTitleAndDescriptionContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.mobileTimeLineTitleAndDescriptionContainer .mobileTimeLineDescription {
  font-family: sanFran;
  width: fit-content;
  height: 50px;
  padding: 15px 15px 0 15px;
  margin: 0;
  font-size: 12px;
  text-align: justify;
}

.mobileTimeLineTitleAndDescriptionContainer .mobileTimeLineTitle {
  font-family: sanFran;
  font-size: 15px;
  width: fit-content;
  height: 20px;
  padding: 15px 15px 15px 15px;
  margin: 0;
}

.mobileTimeLineContainer .mobileTimeLineYearContainer {
  width:auto;
  height:auto;
}

.mobileTimeLineYearContainer .mobileTimeLineYear {
  font-family: sanFran;
  font-size: 9px;
}

.mobileTimeLineYearContainer .mobileTimeLineElementContainer {
  width: fit-content;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.mobileTimeLineElementContainer .mobileTimeLineElement {
  cursor: pointer;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  transition: width 0.5s, height 0.5s;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.mobileTimeLineContainer .mobileTimeLineLine {
  width: 15px;
  height:1px;
}

.splashContainerMobile .mobileAboutMeWorkPath {
  display: inherit;
  flex-direction: column;
  height: calc(100% - 50px);
  width:inherit;

  position: relative;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}

.mobileAboutMeWorkPath .mobileResumeLinkContainer {
  margin: 20px 0 0 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left:25%;
  right:25%;
}

.mobileResumeLinkContainer .mobileResumeLinkText {
  font-family: sanFran;
  font-size: 10px;
}

.mobileResumeLinkText .mobileResumeLinkText {
  text-decoration: none;
  color:rgb(37, 218, 227);
}

.mobileAboutMeWorkPath .mobileWorkContainer {
  height:300px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-evenly;
}

.mobileWorkContainer .mobileWorkImage {
  border-radius: 0.5em;
  width: 70px;
  height: 70px;
  margin:10px;
}

.mobileWorkContainer .mobileWorkTypeContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.mobileWorkTypeContainer .mobileCompanyNameTextContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-evenly;
}

.mobileCompanyNameTextContainer .mobileJobDetailsContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin:10px;
}

.mobileJobDetailsContainer .mobileCompanyNameText {
  font-family: sanFran;
  font-size: 14px;
  margin-bottom: 2px;
}

.mobileWorkTypeContainer .companyJobText {
  font-family: sanFran;
  font-size: 12px;
}

.mobileWorkContainer .mobileWorkTaskContainer {

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: justify;

  margin: 10px 20px 0 20px;

}

.mobileWorkTaskContainer .mobileCompanyTaskContainer {
  font-family: sanFran;
  font-size: 12px;
}

.mobileAboutMeDisplayScreen .highcharts-title {
  font-family: sanFran;
  font-size: 15px !important;
}

.mobileAboutMeDisplayScreen .highcharts-background {
  fill: transparent;
}

.mobileAboutMeDisplayScreen .highcharts-credits {
  display: none;
}

.mobileAboutMeDisplayScreen .highcharts-label {
  font-family: sanFran;
  font-size: 12px !important;
}

.slide-pane__header {
  display: none;
}

.slide-pane__content {
  display: flex;
  justify-content: center;
}
